version: '3.7'
services:
  ccvi_scripts_from_stefano:
    build:
      context: .
    container_name: ccvi_scripts_from_stefano
    #restart: unless-stopped
    tty: true
    ports:
      - "8888:8888"
    volumes:
      - ./:/ccvi_stefano/
      - /etc/CCVI/DATA:/DATA
    networks:
      - app-network
    command:
      - sh
      - -c
      - /bin/sh -c "jupyter notebook  --allow-root --ip 0.0.0.0 --port 8888 --NotebookApp.token='demo' --NotebookApp.password='demo1234567890'"
#Docker Networks
networks:
  app-network:
    driver: bridge


