version: '3.7'
services:
  ccvi_scripts_from_stefano:
    build:
      context: .
    container_name: ccvi_scripts_from_stefano
    #restart: unless-stopped
    tty: true
    ports:
      - "8889:8889"
    volumes:
      - ./:/ccvi_stefano/
      - /etc/CCVI/DATA:/DATA
    networks:
      - app-network

#Docker Networks
networks:
  app-network:
    driver: bridge


